## Imports

In [74]:
import pandas as pd

In [75]:
df_awards_players = pd.read_csv('data/awards_players.csv')
df_coaches = pd.read_csv('data/coaches.csv')
df_players_teams = pd.read_csv('data/players_teams.csv')
df_players = pd.read_csv('data/players.csv')
df_series_post = pd.read_csv('data/series_post.csv')
df_teams = pd.read_csv('data/teams.csv')
df_teams_post = pd.read_csv('data/teams_post.csv')

## Data Cleanup and analysis

In [76]:
pd.set_option('display.max_columns', None)
df_teams.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,seeded,firstRound,semis,finals,name,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,o_to,o_blk,o_pts,d_fgm,d_fga,d_ftm,d_fta,d_3pm,d_3pa,d_oreb,d_dreb,d_reb,d_asts,d_pf,d_stl,d_to,d_blk,d_pts,tmORB,tmDRB,tmTRB,opptmORB,opptmDRB,opptmTRB,won,lost,GP,homeW,homeL,awayW,awayL,confW,confL,min,attend,arena
0,9,WNBA,ATL,ATL,EA,NaN,7,N,0,NaN,NaN,NaN,Atlanta Dream,895,2258,542,725,202,598,340,737,1077,492,796,285,593,142,2534,1014,2254,679,918,172,502,401,864,1265,684,726,310,561,134,2879,0,0,0,0,0,0,4,30,34,1,16,3,14,2,18,6825,141379,Philips Arena
1,10,WNBA,ATL,ATL,EA,NaN,2,Y,0,L,NaN,NaN,Atlanta Dream,1089,2428,569,755,114,374,404,855,1259,547,741,329,590,121,2861,996,2363,624,807,181,530,353,821,1174,615,700,347,601,133,2797,0,0,0,0,0,0,18,16,34,12,5,6,11,10,12,6950,120737,Philips Arena
2,1,WNBA,CHA,CHA,EA,NaN,8,N,0,NaN,NaN,NaN,Charlotte Sting,812,1903,431,577,131,386,305,630,935,551,713,222,496,90,2186,879,1930,533,716,138,423,326,664,990,596,596,259,426,123,2429,0,0,0,0,0,0,8,24,32,5,11,3,13,5,16,6475,90963,Charlotte Coliseum
3,2,WNBA,CHA,CHA,EA,NaN,4,Y,0,W,W,L,Charlotte Sting,746,1780,410,528,153,428,309,639,948,467,605,217,474,114,2055,732,1846,431,562,114,369,344,567,911,443,579,257,447,124,2009,0,0,0,0,0,0,18,14,32,11,5,7,9,15,6,6500,105525,Charlotte Coliseum
4,3,WNBA,CHA,CHA,EA,NaN,2,Y,0,L,NaN,NaN,Charlotte Sting,770,1790,490,663,211,527,302,653,955,496,647,241,408,105,2241,778,1807,444,598,133,372,295,620,915,489,600,208,424,103,2133,0,0,0,0,0,0,18,14,32,11,5,7,9,12,9,6450,106670,Charlotte Coliseum

In [77]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 61 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        142 non-null    int64
 1   lgID        142 non-null    object
 2   tmID        142 non-null    object
 3   franchID    142 non-null    object
 4   confID      142 non-null    object
 5   divID       0 non-null      float64
 6   rank        142 non-null    int64
 7   playoff     142 non-null    object
 8   seeded      142 non-null    int64
 9   firstRound  80 non-null     object
 10  semis       38 non-null     object
 11  finals      20 non-null     object
 12  name        142 non-null    object
 13  o_fgm       142 non-null    int64
 14  o_fga       142 non-null    int64
 15  o_ftm       142 non-null    int64
 16  o_fta       142 non-null    int64
 17  o_3pm       142 non-null    int64
 18  o_3pa       142 non-null    int64
 19  o_oreb      142 non-null    int64
 20  o_dreb      142 non-null    int64
 21  o_reb       142 non-null    int64
 22  o_asts      142 non-null    int64
 23  o_pf        142 non-null    int64
 24  o_stl       142 non-null    int64
 25  o_to        142 non-null    int64
 26  o_blk       142 non-null    int64
 27  o_pts       142 non-null    int64
 28  d_fgm       142 non-null    int64
 29  d_fga       142 non-null    int64
 30  d_ftm       142 non-null    int64
 31  d_fta       142 non-null    int64
 32  d_3pm       142 non-null    int64
 33  d_3pa       142 non-null    int64
 34  d_oreb      142 non-null    int64
 35  d_dreb      142 non-null    int64
 36  d_reb       142 non-null    int64
 37  d_asts      142 non-null    int64
 38  d_pf        142 non-null    int64
 39  d_stl       142 non-null    int64
 40  d_to        142 non-null    int64
 41  d_blk       142 non-null    int64
 42  d_pts       142 non-null    int64
 43  tmORB       142 non-null    int64
 44  tmDRB       142 non-null    int64
 45  tmTRB       142 non-null    int64
 46  opptmORB    142 non-null    int64
 47  opptmDRB    142 non-null    int64
 48  opptmTRB    142 non-null    int64
 49  won         142 non-null    int64
 50  lost        142 non-null    int64
 51  GP          142 non-null    int64
 52  homeW       142 non-null    int64
 53  homeL       142 non-null    int64
 54  awayW       142 non-null    int64
 55  awayL       142 non-null    int64
 56  confW       142 non-null    int64
 57  confL       142 non-null    int64
 58  min         142 non-null    int64
 59  attend      142 non-null    int64
 60  arena       142 non-null    object
dtypes: float64(1), int64(50), object(10)
memory usage: 67.8+ KB

In [78]:

def drop_columns_with_all_nan(df):
    # Step 1: Check for columns with all NaN values
    columns_to_drop = []
    for col in df.columns:
        unique_values = df[col].unique()
        if len(unique_values) == 1 or all(pd.isna(x) for x in unique_values):
            columns_to_drop.append(col)

    # Step 2: Drop identified columns
    df.drop(columns=columns_to_drop, inplace=True)

    # Step 3: Print the identified columns to be dropped
    print(columns_to_drop)

In [79]:
drop_columns_with_all_nan(df_teams)
print(df_teams.duplicated().sum())
df_teams.drop_duplicates(inplace=True)

drop_columns_with_all_nan(df_teams_post)
print(df_teams_post.duplicated().sum())
df_teams_post.drop_duplicates(inplace=True)

drop_columns_with_all_nan(df_series_post)
print(df_series_post.duplicated().sum())
df_series_post.drop_duplicates(inplace=True)

drop_columns_with_all_nan(df_players)
print(df_players.duplicated().sum())
df_players.drop_duplicates(inplace=True)

drop_columns_with_all_nan(df_players_teams)
print(df_players_teams.duplicated().sum())
df_players_teams.drop_duplicates(inplace=True)

drop_columns_with_all_nan(df_coaches)
print(df_coaches.duplicated().sum())
print(df_coaches.duplicated(subset=['tmID', 'year']).sum())
df_coaches.drop_duplicates(inplace=True)

drop_columns_with_all_nan(df_awards_players)
print(df_awards_players.duplicated().sum())
df_awards_players.drop_duplicates(inplace=True)

['lgID', 'divID', 'seeded', 'tmORB', 'tmDRB', 'tmTRB', 'opptmORB', 'opptmDRB', 'opptmTRB']
0
['lgID']
0
['lgIDWinner', 'lgIDLoser']
0
['firstseason', 'lastseason']
0
['lgID']
0
['lgID']
0
20
['lgID']
0

In [80]:
# Replace 'N' and 'Y' in the 'playoff' column with 0 and 1
df_teams['playoff'] = df_teams['playoff'].map({'N': 0, 'Y': 1})
df_teams.sort_values(by=['year', 'tmID'], ascending=[True, True], inplace=True)

years = df_teams['year'].unique()
teams = df_teams['tmID'].unique()

df_teams_copy = df_teams.copy()


average_collumns = ["rank","o_fgm","o_fga","o_ftm","o_fta","o_3pm","o_3pa","o_oreb","o_dreb","o_reb","o_asts","o_pf","o_stl","o_to","o_blk","o_pts","d_fgm","d_fga","d_ftm","d_fta","d_3pm","d_3pa","d_oreb","d_dreb","d_reb","d_asts","d_pf","d_stl","d_to","d_blk","d_pts","GP","homeW","homeL","awayW","awayL","confW","confL","min","attend"]

for year in years:
    for team in teams:
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'num_playoff_appearances'] = df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['playoff'].sum()
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'total_first_round_won'] = (df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['firstRound'] == 'W').sum()
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'total_semis_won'] = (df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['semis'] == 'W').sum()
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'total_semis_lost'] = (df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['semis'] == 'L').sum()
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'total_finals_won'] = (df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['finals'] == 'W').sum()
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'total_finals_lost'] = (df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['finals'] == 'L').sum()
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'total_won'] = (df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['won']).mean()
        df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), 'total_lost'] = (df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)]['lost']).mean()
        for column in average_collumns:
            df_teams_copy.loc[(df_teams_copy['year'] == year) & (df_teams_copy['tmID'] == team), column] = df_teams[(df_teams['year'] < year) & (df_teams['tmID'] == team)][column].mean()
            
df_teams_copy.drop(columns=['firstRound', 'semis', 'finals',"won","lost", 'franchID', 'name', 'arena', 'confID'], inplace=True)
df_teams_copy.fillna(0, inplace=True)
df_teams_copy.to_csv('data/teams_processed.csv', index=False)

In [ ]:
df_teams_post_copy = df_teams_post.copy()
sum_collumns = ["W", "L"]
for year in years:
    for team in teams:
        for column in sum_collumns:
            df_teams_post_copy.loc[(df_teams_post_copy['year'] == year) & (df_teams_post_copy['tmID'] == team), column] = df_teams_post[(df_teams_post['year'] < year) & (df_teams_post['tmID'] == team)][column].sum()

df_teams_post_copy.fillna(0, inplace=True)
df_teams_post_copy.to_csv('data/teams_post_processed.csv', index=False)

In [ ]:
winning_team_stats = df_series_post.groupby(["year", "tmIDWinner"])[["W"]].sum().reset_index()
winning_team_stats.columns = ["year", "tmID", "total_wins"]

losing_team_stats = df_series_post.groupby(["year", "tmIDLoser"])[["L"]].sum().reset_index()
losing_team_stats.columns = ["year", "tmID", "total_losses"]

# Merge the winning and losing team statistics
team_stats = winning_team_stats.merge(losing_team_stats, on=["year", "tmID"], how="outer").fillna(0)
team_stats_copy = team_stats.copy()
average_collumns = ["total_wins", "total_losses"]
for year in years:
    for team in teams:
        for column in average_collumns:
            team_stats_copy.loc[(team_stats_copy['year'] == year) & (team_stats_copy['tmID'] == team), column] = team_stats[(team_stats['year'] < year) & (team_stats['tmID'] == team)][column].mean()
team_stats_copy.fillna(0, inplace=True)
team_stats_copy.to_csv('data/series_post_processed.csv', index=False)

In [ ]:
df_players_teams_copy = df_players_teams.copy()

average_collumns = ["GP","GS","minutes","points","oRebounds","dRebounds","rebounds","assists","steals","blocks","turnovers","PF","fgAttempted","fgMade","ftAttempted","ftMade","threeAttempted","threeMade","dq","PostGP","PostGS","PostMinutes","PostPoints","PostoRebounds","PostdRebounds","PostRebounds","PostAssists","PostSteals","PostBlocks","PostTurnovers","PostPF","PostfgAttempted","PostfgMade","PostftAttempted","PostftMade","PostthreeAttempted","PostthreeMade","PostDQ"]
for year in years:
    for team in teams:
        for column in average_collumns:
            df_players_teams_copy.loc[(df_players_teams_copy['year'] == year) & (df_players_teams_copy['tmID'] == team), column] = df_players_teams[(df_players_teams['year'] < year) & (df_players_teams['tmID'] == team)][column].mean()
            
df_players_teams_copy.fillna(0, inplace=True)
df_players_teams_copy.to_csv('data/players_teams_processed.csv', index=False)

In [ ]:
agg_coaches_df = df_coaches.groupby(["year", "tmID"]).agg({
    "won": "sum",
    "lost": "sum",
    "post_wins": "sum",
    "post_losses": "sum",
}).reset_index()
df_coaches_copy = agg_coaches_df.copy()

average_collumns = ["won","lost","post_wins","post_losses"]
for year in years:
    for team in teams:
        for column in average_collumns:
            df_coaches_copy.loc[(df_coaches_copy['year'] == year) & (df_coaches_copy['tmID'] == team), column] = agg_coaches_df[(agg_coaches_df['year'] < year) & (agg_coaches_df['tmID'] == team)][column].mean()
            
df_coaches_copy.fillna(0, inplace=True)
df_coaches_copy.to_csv('data/coaches_processed.csv', index=False)

In [ ]:
award_counts = df_awards_players.groupby(["year", "playerID"]).size().reset_index(name="award_count")
award_counts_copy = award_counts.copy()
average_collumns = ['award_count']
for year in years:
    for team in teams:
        for column in average_collumns:
            award_counts_copy.loc[(award_counts_copy['year'] == year) & (award_counts_copy['playerID'] == team), column] = award_counts[(award_counts['year'] < year) & (award_counts['playerID'] == team)][column].mean()
award_counts_copy.fillna(0, inplace=True)
award_counts_copy.to_csv('data/awards_players_processed.csv', index=False)